<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/style.css">

    <script src="index.js" defer></script>

    <title>Currency Exchange</title>
</head>
<body>
    <main>
        <h1 class="title">Currency Exchange</h1>
        <form action="/submit" id="form" class="form-container" method="POST">
            <label for="base-currency">Base Currency:</label>
            <select name="base" id="base-currency">
                <option value="" data-display="Select">Select Base Currency</option>
                <% for(let i = 0; i < codes.length; i++) { %>
                    <option value="<%= codes[i][0] %>"><%= codes[i][0] %> - <%= codes[i][1] %>
                <%};%>
            </select>

            <label for="target-currency">Target Currency:</label>
            <select name="target" id="target-currency">
                <option value="" data-display="Select">Select Target Currency</option>
                <% for(let i = 0; i < codes.length; i++) { %>
                    <option value="<%= codes[i][0] %>"><%= codes[i][0] %> - <%= codes[i][1] %>
                <%};%>
            </select>

            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" placeholder="0">
            
            <p id="error-message" hidden>Please select a value for each currency</p>
            <input type="submit" id="calculate-btn" value="Calculate">
        </form>

        <div class="result">
            <% if (locals.rate) { %>
                <p class="exchange-rate">Exchange Rate: <span>1 <%= base %> = <%= rate %> <%= target %></span></p>
                <p class="exchange-result">Exchange Result: <span><%= result %> <%= target %></span></p>
            <% } %>
        </div>
    </main>

</body>
</html>